@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your online game store!</h1>
    <img src="/lib/dims-removebg-preview (2).png"/><img src="~/lib/4__2_-removebg-preview.png"/><img src="~/lib/3-removebg-preview.png"/><img src="~/lib/2-removebg-preview.png"/>
</div>
